/*variáveis de cores*/
:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family:Arial, black;
    color: whitesmoke;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: ;
    /* background: url(/img/netflix.png); */
    font-size: 42px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #FFF;
}

header .container{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*Filme Principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa-narcos.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
}

.titulo{
    font-size: 60px;
}
